html
    head
        title= word
        meta(name="viewport" content="width=device-width")
        link(rel='stylesheet', href='/build/styles.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Halant')
    body
        div(class='text-center')
            div(id='hidden-word', class='hidden inline-block-display')= word
            div(id='word', class='hidden js-unhide-after-init max-half-height inline-block-display')= word
            div(class='pronunciation hidden js-unhide-after-init')= pronunciation.all
        div(class='definitions-list')
            each definition in results
                div(class='definition hidden js-unhide-after-init')
                    div(class='definition__part definition__part--' + definition.partOfSpeech)= definition.partOfSpeech
                    div(class='definition__text')= definition.definition
        script(src='/build/bundle.js')
